.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: space-between;
  width: 100%;
}
.dashboard{
  height: 450px;
  width: 100%;
  
}

.images {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 10px;
}
button{
  height: 35px;
  width: 80px;
  font-size: clamp(10px, 2.5vw, 20px);
  background: linear-gradient( to left, rgb(152, 207, 242), rgb(152, 243, 152));
  transition: all ease-in-out 0.5s;
  text-shadow: 1px 1px 1px rgba(245, 243, 243);
  border: none;
}
button:hover{
  color: white;
  background: linear-gradient( to right, rgb(152, 207, 242), rgb(152, 243, 152));
  filter: drop-shadow(2px 4px 6px rgb(69, 69, 68));
  text-shadow: 1px 1px 1px rgb(31, 30, 30);

}
button:focus{
  outline: none;
}

